<div class="page-width">
  <div class="image-columns">
  {% for block in section.blocks  %}
    <div class="item">
      <img src="{{ block.settings.image | img_url: '400x' }}">
      <h4>{{ block.settings.title }}</h4>
      <div class="description">
        {{ block.settings.content }}
      </div>
    </div>
  {% endfor  %}
  </div>
</div>


{% schema %}
  {
    "name": "Image Column",
    "settings": [
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
          "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Description"
          }
        ]
      }
   ],
    "presets": [{
        "name": "Image Column"
    }]
  }
{% endschema %}